<h2>Movies</h2>

<div class="container">
    <!-- movie box -->
    <div class="col-md-3 movie-item" 
        *ngFor="let movie of movies">

        <img class="movie-image" style="height: 100px;width: 80px;" src="data:image/png;base64,{{movie.imageFile}}"/>
        <div><strong>Title: </strong>{{movie.title}}</div>
        <div><strong>Genre: </strong>{{movie.genre}}</div>
        <div><strong>Rating: </strong>{{movie.rating}} / 5</div>
        <div><strong>Description: </strong>{{movie.description}}</div>
        <button class="mybutton button-delete" (click)="deleteMovie(movie.movieId)"><i class="glyphicon glyphicon-trash" style="color: red; font-size: 20px;" ></i></button>
        <!--
        <button><i class="glyphicon glyphicon-home"></i></button>
        <button><i class="glyphicon glyphicon-map-marker"></i></button>
        -->
    </div>
</div>