<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <a class="navbar-brand">Movies</a>

        <ul class="nav navbar-nav">
            <!-- 
                <li><a routerLink="/list">Movie List</a></li>
                <li><a routerLink="/create">Add Movie (Image)</a></li>
                <li><a routerLink="/create-without-image">Add Movie (without image)</a></li>
            -->
            <li><button (click)="onNavigateList()" class="btn btn-default">Movie List</button></li>
            <li><button (click)="onNavigateCreateMovie()" class="btn btn-default">Add Movie (Image)</button></li>
            <li><button (click)="onNavigateCreateMovieWithoutImage()" class="btn btn-default">Add Movie (without image)</button></li>
        </ul>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
    <!-- <app-movie-list></app-movie-list> -->
    <!--<app-movie-create></app-movie-create>-->
    <!-- <app-movie-create-image></app-movie-create-image> -->
</div>